package ui

templ JsonBrowser(data []byte) {
	@templ.JSONScript("raw-data", string(data))
	<script src="https://cdn.jsdelivr.net/npm/@textea/json-viewer@3"></script>
	<div id="json-viewer"></div>
	<script>
        const data = JSON.parse(JSON.parse(document.getElementById('raw-data').textContent))
        new JsonViewer({ value: data }).render('#json-viewer')
    </script>
}
